.product-cart {
  position: relative;
  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 4px;
  transition: box-shadow 0.2s ease;
  &:hover {
    box-shadow: 0px 0px 10px #0002;
  }
  &__body {
    cursor: pointer;
    &__off-badge {
      padding: 5px;
      background-color: rgb(192, 0, 0);
      color: white;
      border-radius: 8px;
      font-weight: bold;
      position: absolute;
      right: 0;
      box-shadow: 0px 4px 4px #0003;
    }
    &__image {
      width: 250px;
      height: 250px;
      object-fit: contain;
    }
    &__title {
      font-size: 1.5rem;
      font-weight: bold;
      max-width: 20ch;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    &__rate {
      & > img {
        width: 24px;
        height: 24px;
      }
      & > span {
        position: relative;
        font-size: 1.1rem;
        margin-left: 2px;
        color: #333;
        top: -3px;
        vertical-align: bottom;
      }
    }
    &__price--offer {
      color: black;
      font-weight: bold;
      font-size: 1.3rem;
    }
    &__price {
      color: grey;
      text-decoration: line-through;
    }
  }
  .shopping-cart-product-counter {
    width: 7rem;
    height: 2.5rem;
    margin-top: 1rem;
    margin-left: auto;
    &__btn {
      color: green;
      background-color: transparent;
      &:hover {
        background-color: #00800020;
      }
      &:active {
        background-color: #00800040;
      }
    }
  }
}
